header{
background-color: black;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.logo
{
    height: 8em;
}
.lists {
    display: flex;
   margin-left: 80px;
   
   
   
}
ul {
    list-style-type: none;
}
.cities {
    flex: 1;
    border: solid;
    margin-right: 60px;
    
}

.landmarks {
    flex: 1;
    border: solid;
    margin-right: 20px;
    
}
.citizens {
    flex: 1;
    border: solid;
    margin-left: 29px;
    
}

img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    padding: above;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }
html {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, #ffe3c4, #da922e);
    
}
body {
    font-size: 30px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:white;
    background-color: transparent ;
    text-decoration: none;
}
footer{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-intro{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
footer a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
footer a:visited {
    color:black;
    background-color: transparent ;
    text-decoration: none;
}
.map {
    display:flex;
    justify-content: center;
}
